@import "./form/form-labels-container.css";
@import "./form/form-submit-button.css";

main {
    background: var(--white);
    max-width: 900px;
    margin: 0 1rem;
    border-radius: 1.25rem 1.25rem 5rem 1.25rem;
    padding: 3rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 5px;
}

@media screen and (min-width: 600px) {
    main {
        padding: 3rem;
    }
}