main {
    background: var(--white);
    max-width: 900px;
    margin: 0 1rem;
    border-radius: 1.25rem 1.25rem 5rem 1.25rem;
    padding: 3rem 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 5px;
}

.form-labels-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: clamp(.875rem, 1.25rem, 1.75rem);
}

.form-labels-container > label span {
    text-transform: uppercase;
    color: var(--smokey-grey);
    font-size: .75rem;
    letter-spacing: .175rem;
}

.form-labels-container > label input {
    display: block;
    margin-top: .25rem;
    padding: .75rem;
    border: 1px solid var(--light-grey); 
    border-radius: .25rem;
    width: 100%;
    max-width: 8rem;
    color: var(--off-black);
}

.form-labels-container > label input, .form-labels-container > label input::placeholder {
    font-weight: 700;
    font-size: clamp(1.25rem, 5vw, 1.5rem);
}